@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  /* place-items: center; */
  width: 100%;
  height: 100%;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.custom-icons {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.leaflet-control-container .leaflet-routing-container-hide {
  display: none !important;
}